
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder-text-base {
            font-size: 5rem !important; /* Adjust the font size as needed */
          }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body::-webkit-scrollbar,
.hideScrollBar::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #c7d3ff;
  border: 3px solid var(--navy);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #222e50 !important;
}

.hideScrollBar::-webkit-scrollbar-thumb {
  display: none;
}

.hideScrollBar::-webkit-scrollbar-track {
  display: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.neon-underline:hover {
  text-decoration: underline;
  text-decoration-color: #52dee5;
}
.active {
  font-weight: bold;
  color: #52dee5;

  text-decoration-color: #52dee5;
}
